{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
  <div class="grid_6 push_1">
    <h2>About</h2>
    <h3>Our Mission</h3>
    <p>
      Paris Young Professionals is a social <span class="amp">&amp;</span> networking group dedicated to providing a fun and interactive environment
      for the Paris area young professionals to develop professionally and build a better community.
    </p>

    <h3>Initiatives</h3>
    <p>
      <strong>Professional Networking</strong> &mdash; Network with local professionals and create new friendships.
    </p>
    <p>
      <strong>Supporting Local Industry's Recruiting Efforts</strong> &mdash; Help local businesses find great, professional employees.
    </p>
    <p>
      <strong>Leadership Development</strong> &mdash; Helping young professionals become leaders.
    </p>
    <p>
      <strong>Community Engagement <span class="amp">&amp;</span> Development</strong> &mdash; Getting involved in the community to
      provide a better living and working experience.
    </p>
  </div>

  <div class="grid_3 push_2">
    <h4>Steering Committee</h4>
    <ul class="list">
      <li>
        Jennifer Veal <span class="light">Char</span>
      </li>
      <li>
        Mindy Moree <span class="light">Co-Chair</span>
      </li>
      <li>
        Steve Gilbert <span class="light">Member</span>
      </li>
      <li>
        Emily Miller <span class="light">Member</span>
      </li>
      <li>
        James Dorman <span class="light">Member</span>
      </li>
      <li>
        Rachel Schory <span class="light">Member</span>
      </li>
      <li>
        Kenny Dority <span class="light">Member</span>
      </li>
    </ul>
  </div>
{% endblock %}
